<div class="container">
<form class="form" [formGroup]="form" (ngSubmit)="onSubmit()">
  <label>
    First Name
    <input type="text" placeholder="Enter First Name" formControlName="firstName">
  </label>
  <label>
    Last Name
    <input type="text" placeholder="Enter Last Name" formControlName="lastName">
  </label>

  <label>
    Email
    <input type="text" placeholder="Enter Email" formControlName="email">
  </label>
  
  <label>
    Gender
  </label>
    <input type="radio" id="male" formControlName="gender" value="Male" checked>
    <label for="male">Male</label>
    <input type="radio" id="female"  formControlName="gender" value="Female">
    <label for="female">Female</label>
    <input type="radio" id="other" formControlName="gender"  value="other">
    <label for="other">Other</label>
  
    <div formGroupName="address">
      <label>Address</label>
    <label>
      State
      <input type="text" placeholder="Enter State" formControlName="state">
    </label>
    <label>
      City
      <input type="text" placeholder="Enter City" formControlName="city">
    </label>
  </div>
  <div  formArrayName="aliases">

    <button type="button" (click)="addAlias()">+ Add Alias</button>
    <button type="button" (click)="removeAlias()" [disabled]="aliases.length === 0"> - Remove Alias</button>

    <div *ngFor="let alias of aliases.controls; let i = index" >
      <label>
        Alias({{i+1}})
        <input type="text" formControlName={{i}}>
      </label>
      
    </div>

  </div>
 

  <small *ngIf="!form.valid"> *complete the form to enable submit button</small>
  <button type="submit" [disabled]="!form.valid">Submit</button>
  
</form>
</div>
<div>
  <p>
    Details
  </p>
  <p> Full Name: {{form.value.firstName}} {{form.value.lastName}}</p>
  <p> Email: {{form.value.email}}</p>
  <p>Gender: {{form.value.gender}} </p>
  <p>Location: {{form.value.address.city}} , {{form.value.address.state}}</p>
  <div>
    aliases:
    <p *ngFor="let alias of aliases.controls; let i = index"> {{form.value.aliases[i]}}</p>
  </div>
 
</div>